*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #93C5FD;
}
main{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    padding-top: 3rem;
}

input{
    height: 6vh;
    padding: 20px;
    margin: 10px 0px;
}

label{
    font-size: 1.2rem;
}

h1{
    padding:40px 0px;
    color: #374151;

}
button{
    width: 250px;
    padding: 10px 15px;
    margin: auto;
    margin-top: 15px;
    background-color: #1E40AF;
    border-radius: 7px;
    font-size: larger;
    color: white;
}

#output-msg{
    margin: auto;
    font-size: 2rem;
    margin-top: 30px;
    color: #5B21B6;
}

footer{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   margin-top: 50px;
}
footer p{
    font-size: 1.8rem;
    padding: 20px 5px;
}
footer img{
    width: 30px;
    display: inline-block;
    padding: 0px 30px;
}
    